{% extends "content.html" %}

{% block content %}
<br>
<section class="content">
  
  <a class="poster"
    href="/movies/{{name}}">
    <h2 class="title-rate">{{name}}</h2>
    <br>
    <img src={{poster}}>
  </a>
  
</section>
<section class="story">
  <h3 class="story-t"> قصه الفلم :-</h3>
  <p>
      {{story}}
  </p>
</section>
<section class="watch-server">
  <h3 class="server-title">سيرفر المشاهده :</h3>
  <iframe class="iframe" name="player_iframe" src={{watch_server}} allowfullscreen="" scrolling="no" frameborder="0"></iframe>
</section>
<section class="content">
   <h3 class="story-t">معلومات اضافيه عن الفلم :- </h3>
<div class="details">
  {% for p in info %}
    {% if p != "" %}
    <p class="detail">{{p}}</p>
    {% endif %}
  {% endfor %}
</div>
</section>
<br> <br>
{% endblock %}